<!--  ===================================   -->
<!--  DELETE TABLE DIALOG                   -->
<!--  ===================================   -->
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
		<b>Delete Record Confirmation: {{table_name}}</b>
      </div>
      <div class="modal-body">
		  If you delete the table, <b>all tags and descriptions will be permanently lost</b>.
		  The files and directories will not be deleted; you must do that manually.
      </div>
      <div class="modal-footer">
		<form action="/" method="post">
		  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		  <input type="hidden" value="{{table_name}}" name="table-name" />
		  <button type="submit" class="btn btn-danger btn-ok" name="action" value="delete-table"><span class="glyphicon glyphicon-trash"></span> Delete Table</button>
		</form>
      </div>
    </div>
  </div>
</div>
<script>
  $('#confirm-delete').on('show.bs.modal', function(e) {
    $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
  });
</script>

<!--  ===================================   -->
<!--  DELETE MULTIPLE RECORDS DIALOG        -->
<!--  ===================================   -->

<div class="modal fade" id="delete-records-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
		<b>Delete the following records?</b>
      </div>
      <div class="modal-body">
	<form action="/table/{{table_name}}" method="post">
	  <p id="delete-records-dirs-display"></p>
	  <input type="hidden" name="delete-records-dirs" id="delete-records-dirs" />
	  <input type="hidden" name="delete-records-hashes" id="delete-records-hashes" />
	  <div class="modal-footer">
	    <button type="submit" class="btn btn-danger btn-ok" name="action" value="delete-records"> <span class="glyphicon glyphicon-trash" ></span> Delete</button>
	    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	  </div>
	</form>
      </div>
    </div>
  </div>
</div>
<script>
  $('#delete-records-modal').on('show.bs.modal', function(e) {
	var hashes = "";
	var dirs = "";
	$("#deleterecordsform input:checkbox:checked").each(function() {
	    hashes += $(this).attr('name') + " ";
	    dirs += $(this).val() + " ";
	});
	$("#delete-records-dirs-display").text(dirs);
	$("#delete-records-dirs").attr('value',dirs);
	$("#delete-records-hashes").attr('value',hashes);
	$(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
  });
</script>

<!--  ===================================   -->
<!--  APPLY TAG DIALOG                      -->
<!--  ===================================   -->

<div class="modal fade" id="apply-tags-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
		<b>Apply tags to the following records:</b>
      </div>
      <div class="modal-body">
	<form action="/table/{{table_name}}" method="post">
	  <p id="apply-tags-dirs"></p>
	  <input type="hidden" name="apply-tags-hashes" id="apply-tags-hashes" />
	  <label for="usr">Insert tags</label>
	  <input type="text" class="form-control" name="apply-tags-tags">
	  <div class="modal-footer">
	    <button type="submit" class="btn btn-warning btn-ok" name="action" value="apply-tags"> Apply Tags</button>
	    <button type="submit" class="btn btn-warning btn-ok" name="action" value="append-tags"> Append Tags</button>
	    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	  </div>
	</form>
      </div>
    </div>
  </div>
</div>
<script>
    $('#apply-tags-modal').on('show.bs.modal', function(e) {
	var hashes = "";
	var dirs = "";
	$("#deleterecordsform input:checkbox:checked").each(function() {
	    //$("#horatio").text("hello mother");
	    hashes += $(this).attr('name') + " ";
	    dirs += $(this).val() + " ";
	});
	//$("#apply-tags-dirs").text(dirs);
	$("#apply-tags-dirs").text(hashes);
	$("#apply-tags-hashes").attr('value',hashes);
	$(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
    });
</script>

<!--  ===================================   -->
<!--  COMPARE RECORDS DIALOG                -->
<!--  ===================================   -->

<script> var txt; </script>
<div class="modal fade" id="compare-records-modal" tabindex="-1" role="dialog" aria-labelledby="myModalCompare" aria-hidden="true" style="width:90%;">
	<div class="modal-dialog modal-lg" style="max-width: fit-content;">
	  <div class="modal-content">
		<div class="modal-header">
		  <b>Record differences:</b>
		</div>
		<div class="modal-body">
			<div id="compare-records-body">
				<script>document.write(names);</script>
			</div>
	  	</div>
		<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		</div>
	</div>
  </div>
  <script>
	  $('#compare-records-modal').on('show.bs.modal', function(e) {

		var table = $('#bigtable').DataTable();
		var hashes = "";
		var count = table.rows('.selected').data().length;

		
		txt = '<table class="table">'
		
		var names = table.columns().header().toArray().map(x => x.innerText);
		var selectedrows = table.rows('.selected').data();

		for (j = 0; j < selectedrows[0].length; j++) {
			console.log(selectedrows.length);
			var same = true;
			for ( i = 0; i < selectedrows.length ; i++) {
				if (selectedrows[i][j] != selectedrows[0][j]){
					same = false;
				}
			}
			if (!same){
				txt += '<tr><td>' + names[j] + '</td>'
				//console.log(names[j]);
				for ( i = 0; i < selectedrows.length ; i++) {
					txt += '<td>' + selectedrows[i][j] + '</td>'
					//console.log();
				}
				txt += '</tr>'
			}
		}
		txt += "</table>"

		$("#compare-records-body").html(txt);

	  });
  </script>
  


<!--  ===================================   -->
<!--  RENAME TABLE DIALOG                   -->
<!--  ===================================   -->

<div class="modal fade" id="confirm-rename" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
		<b>Rename Record Confirmation: {{table_name}}</b>
      </div>
        <div class="modal-body">
			 <form action="/" method="post">
				<label for="usr">Enter new table name:</label>
				<input type="text" class="form-control" id="usr" name="table-name-new" value="{{table_name}}">
				<div class="modal-footer">
				  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				  <input type="hidden" value="{{table_name}}" name="table-name-old" />
				  <button type="submit" class="btn btn-warning btn-ok" name="action" value="rename-table"> Rename Table</button>
				</div>
			 </form>
        </div>
    </div>
  </div>
</div>



<h2>Tables</h2>
<div class="list-group">
  {% for i in range(0,tables|length) %}
  {% if table_name is not sameas "__tables__" %}
  {% if table_name == tables[i] %}
  <a class="list-group-item active">
    {{tables[i]}}
    {% if counts[i] %}<span class="badge bg-secondary">{{counts[i]}}</span> {% endif %}
	<form class="pull-right" action="/table/{{table}}" method="post">
	<!--button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#confirm-rename">Rename</button-->
	<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#confirm-delete">Delete</button>
	</form>
  </a>
  {% else %}
  <a href="/table/{{tables[i]}}" class="list-group-item">
	{{tables[i]}}
    {% if counts[i] %}<span class="badge bg-warning">{{counts[i]}}</span> {% endif %}
  </a>
  {% endif %}
  {% endif %}
  {% endfor %}
</div>
