{% extends "layout.html" %}
{% block content %}


<style>
.zoom {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#bigtable tr td {
    word-break: break-word;
    vertical-align: top;
}

</style>

<!-- =============  TOASTS  ===============   -->
{% if records %}
<script> $(document).ready(function(){ $('.toast').toast('show'); }); </script>
<div aria-live="polite" aria-atomic="true" class="position-relative" style="z-index:99;">
  <div class="toast-container position-absolute top-0 end-0 p-3">
    <!-- NEW RECORDS toast -->
    {% if not range(0,records['new']|length) and not range(0,records['moved']|length) and not range(0,records['bad']|length)%}
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header success bg-primary text-white">
        <span class="rounded me-2" alt="...">
          <strong class="me-auto"><i class="icon-check"></i>  Everything up to date</strong>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
    {% endif %}
    <!-- NEW RECORDS toast -->
    {% if range(0,records['new']|length) %}
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header success bg-success text-white">
        <span class="rounded me-2" alt="...">
          <strong class="me-auto"><i class="icon-plus-sign"></i>  New Records Discovered</strong>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
	{% for i in range(0,records['new']|length) %}
	{{records['new'][i]}}<br/>
	{% endfor %}
      </div>
    </div>
    {% endif %}
    <!-- MOVED RECORDS toast -->
    {% if range(0,records['moved']|length) %}
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header success bg-warning text-white">
        <span class="rounded me-2" alt="...">
          <strong class="me-auto"><i class="icon-warning-sign"></i>  These records have been moved</strong>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body" >
	{% for i in range(0,records['moved']|length) %}
	{{records['moved'][i][0]}} <i class="icon-long-arrow-right"></i> {{records['moved'][i][1]}}<br/>
	{% endfor %}
      </div>
    </div>
    {% endif %}
    <!-- BAD RECORDS toast -->
    {% if range(0,records['bad']|length) %}
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header success bg-danger text-white">
        <span class="rounded me-2" alt="...">
          <strong class="me-auto"><i class="icon-remove-sign"></i>  These are bad records </strong>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
	{% for i in range(0,records['bad']|length) %}
	{{records['bad'][i]}} <br/>
	{% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endif %}

  
<div class="zoom"></div>


  <div class="row justify-content-start">
    <div class="col-md-4">
      {% include 'tables.html' %}
    </div>
    <div class="col-md-8">
      <div width="100%">
	{{ table_description | markdown }}
	<button type="button" class="btn btn-primary pull-right btn-xs" data-toggle="collapse" data-target="#form-description">Edit Description</button>
      </div>
      <br/>
      <div width="100%">
	<form class="form-group collapse out" id="form-description" action="/table/{{table_name}}" method="post">
	  <textarea class="form-control" rows="5" name='table-description'>{{ table_description }}</textarea>
	  <button class="btn btn-success pull-right" type="Update">Update</button>
	</form>
      </div>
    </div>
  </div>

<br/>

{% set status_column = -1 %}

<div class="row">
<div class="col-sm-12">
<h2>Table Entries</h2>
<form action='/table/{{table_name}}' method="POST" id="deleterecordsform">
<p>
<button type="button" class="btn btn-danger btn-ok" data-toggle="modal" data-target="#delete-records-modal"><span class="glyphicon glyphicon-trash" ></span> Delete Selected Records</button>
<button type="button" class="btn btn-primary btn-ok" data-toggle="modal" data-target="#apply-tags-modal" ><span class="glyphicon glyphicon-tag" ></span> Apply tag</button><br/>
</p>
<div class="table-responsive">
  <table id="bigtable" class="table table-striped table-bordered" style="width:100%;">
	<thead>
	  <tr>
		{% for i in range(0,columns|length) %}
		{% if columns[i] == "DIFF" or columns[i] == "HASH"%}
		{% else %}
		<th> {{columns[i]}} </th> 
		{% endif %}
		{% endfor %}
	  </tr>
	</thead>
	{% for j in range(0,data|length) %}
		<tr>
		{% for i in range (0,columns|length) %}
			{% if columns[i] == "DIFF" or columns[i] == "HASH"%}
			{% elif columns[i] == "DIR" %}
				<td>
				<input type="checkbox" name="hash_{{data[j]['HASH']}}" value="{{data[j]['DIR']}}"/>
				{% if data[j]['DIR'] != "null"%}
				        <a href="/table/{{table_name}}/entry/{{data[j]['HASH']}}">{{data[j]['DIR']}} </a> 
				{% else %}
					<a href="/table/{{table_name}}/entry/{{data[j]['HASH']}}">{{data[j]['HASH']}} </a> (Directory deleted) 
				{% endif %}
				{% if data[j]['DIFF'] and data[j]['DIR'] != "null"%}
				        <a target="_blank" href="/table/{{table_name}}/entry/{{data[j]['HASH']}}/diff"><span class="badge bg-warning"> DIFF</span></a>
				{% endif %}
				{% if status[j] %}
						{% if "Complete" in status[j] %} 
							<span class="badge bg-success" alt="Simulation completed" style="display:inline-block;"> <i class="icon-check"></i></span>
						{% elif "Running" in status[j] %} 
							<span class="badge bg-primary" style="display:inline-block;min-width:40px;"> <i class="icon-gear"></i>
    	    	    		{% if  status[j].split(' ')|length > 1 %}
    	    	    	    	{{status[j].split(' ')[1]}}
    	    	    		{% else %}
    	    	    		{% endif %}
    	    	    		</span>&nbsp;
    	    	    	        {% elif "Interrupt" in status[j] or "Abort" in status[j] or "Segfault" in status[j] %} <span class="badge bg-danger" style="display:inline-block;min-width:40px;"><i class="icon-remove-sign"></i>
    	    	    		{% if  status[j].split(' ')|length > 1 %}
    	    	    	    	{{status[j].split(' ')[1]}}
    	    	    		{% else %}
    	    	    	    	<span class="glyphicon glyphicon-remove"/></span>
	    	    	    	{% endif %}
    	    	    		</span>&nbsp;
					{% endif %}
					{% endif %}
					{% if numfiles|length > 0 %}{% if numfiles[j] > 0 %}
						<span class="label label-primary"> {{numfiles[j]}} </span>
					{% endif %}
					</td>
				{% endif %}
			{% elif columns[i] == "Thumbnail"%}
                                <td>
                                  {% if numfiles[j] > 0 and data[j]['DIFF'] != "null" %}
                                  <img height="60px" src="/thumbnail/{{thumbnails[j]}}" class="zoom"/>
                                  {% endif %}
                                </td>
			{% elif columns[i] == "Tags" and data[j]['Tags']%}
				<td>
					{% set taglist = data[j]['Tags'].split(',') %}
					{% for tag in taglist %}
						<span class="label label-primary">{{tag}} </span>&nbsp;
					{% endfor %}
				</td>
			{% elif "Simulation_end_time" in columns[i] or "Simulation_start_time" in columns[i] %}
				<td>
				{{data[j][columns[i]] | datetime}}
				</td>
			{% else %}
				<td>
				{{data[j][columns[i]] | string | truncate (50)}}
				</td>
			{% endif %}
		{% endfor %}
		</tr>
	{% endfor %}
  </table>
</div>
<button type="button" class="btn btn-danger btn-ok" data-toggle="modal" data-target="#delete-records-modal"><span class="glyphicon glyphicon-trash" ></span> Delete Selected Records</button>
<button type="button" class="btn btn-primary btn-ok" data-toggle="modal" data-target="#apply-tags-modal" ><span class="glyphicon glyphicon-tag" ></span> Apply tag</button>
</form>
</div>
</div>



{% endblock %}
